:root {
  --color-main:#ff451b;
  --color-hover-main:#ffb324;
  --background:#fff6f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
  color: #02010A;
  background-color: #fff6f1;
}

button {
  font-family: 'Merriweather', serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.global-container {
  left: 15%;
  right: 15%;
}